/* * rule means for the entire style sheet */
/* box sizing: border-box always used for creating for responsiveness*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.6;
    color: black;
}

img {
    width: 100%;
    display: block;
}

header {
    background-color: pink;
}
/* using . before description makes it a class */
.container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}
/* 1 rem is 16px. '1rem 0' means 1rem top and bottom and 0 is the sides */
.header-container {
    padding: 1.5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
}
/* using # before description makes it an ID. ID ALWAYS HAVE TO BE UNIQUE TO ONE ATTRIBUTE */
/* using display inline, puts navigation in horiztal to one another*/
li {
    list-style: none;
    display: inline-block;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: 0.5s;
}

li:hover {
    color: rgb(238, 6, 219);
}

a {
    text-decoration: none;
/* anchor element by default do not inherit from the parent, however if we add this ca  */
    color: inherit;
}

.main-container {
    padding-top: 1rem;
}

.hero-img {
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 2rem;
}

.hero-text {
    max-width: 60ch;
    margin: 0 auto;
}

.img-container {
    margin-bottom: 1rem;
}

.cookie-section {
    display: flex;
    flex-direction: column;
}

.cookie-img {
    max-height: 200px;
    object-fit: cover;
    margin: 0 auto;
}

.img-text {
    text-align: center;
}

footer {
    background-color: pink;
}

.footer-container {
    text-align: center;
    padding: 2rem 0;
}
 /* This is a media query which will change my styles when the viewport is 700px or more */
@media (min-width: 700px) {
    .header-container {
        text-align: left;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}

h1 {
    margin: 0;
}

li {
    margin: 0 0 0 1rem;
}

.main-container {
    padding-top: 2rem;
}

.cookie-section {
    flex-direction: row;
    justify-content: space-between;
}

.img-container {
    width: 30%;
}
}

@media (min-width: 900px) {
    h1 {
        color: red;
    }
}